/**
* Improve readability when focused and also mouse hovered in all browsers.
*/

a:active,
a:hover {
    outline: 0;
}

/**
* Address styling not present in IE 8/9/10/11, Safari, and Chrome.
*/

abbr[title] {
    border-bottom: 1px dotted;
}